body {
    background-color: #f2f2f2cb;
}
.main {
    width: 90%;
    margin: auto;
}

.title {

    font-family: 'Kaushan Script', cursive;
    font-size: 2.3em;
   
}

img {
    width: 100%;
}

.tribute_info {
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;
}

@media only screen and (min-width : 768px) {
    .title {
        font-size : 3em;
        color: aliceblue;
        position: absolute;
        right: 10%;
    }

    .tribute_info {
        color: aliceblue;
        position: absolute;
        width: 33%;
        right: 10%;
        text-align: right;
        top: 10%;
    }
}

@media only screen and (min-width : 1020px) {
    .title {
        font-size: 3.8em;
    }

    .tribute_info {
        font-size: 1.7em;
    }
}