body {
    background-color: #f2f2f2cb;
}
.main {
    width: 90%;
    margin: auto;
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}

.img-div {
}

img {
    width: 100%;
}

.tribute_info {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
}